*.zip
profiletool
quick_map_services
OSMDownloader
nens_dependency_loader
Serval
threedi_m*
threedi_r*
threedi_s*
ThreeDiC*
valuetool
__pycache__
crayfish
lizard_qgis_plugin
plugin_reloader
rana_qgis_customisations