services:
  qgis:
    build: .
    ports:
      - "7070:7070"
      - "80:80"
    environment:
      # DISPLAY=unix${DISPLAY}
      # QT_QPA_PLATFORM=offscreen
      # Note: run 'xhost +local:docker' beforehand.

      # Force software OpenGL rendering (headless mode)
      LIBGL_ALWAYS_SOFTWARE: "1"
      # QT_QPA_PLATFORM: "xvfb"
      # Optional: keep DISPLAY consistent with GitHub Actions
      DISPLAY: ":99"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw  # Allow GUI application to run in docker
      - .:/tests_directory/
      - profile-dir:/root/.local/share/QGIS/QGIS3/profiles/default
    command: qgis

volumes:
  profile-dir:
