name: pytest

# Run on pull requests and on the master branch itself.
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:


jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      # Checkout the code.
      - uses: actions/checkout@v2

      - name: build
        run: |
          docker compose build qgis

      - name: test
        run: |
          docker compose run --rm qgis pytest tests

      - name: setup-xvfb
        uses: coactions/setup-xvfb@v1.0.1
        with:
          run: |
            docker compose run --rm -T qgis bash -c "export DISPLAY=:99 && export LIBGL_ALWAYS_SOFTWARE=1 && Xvfb :99 -screen 0 1920x1080x24 & sleep 1 && pytest -v e2e"
        env:
          RANA_PAK: ${{ secrets.RANA_PAK }}
          ORG_3DI: ${{ secrets.ORG_3DI }}

